*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: sans-serif;

}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#00ffea,#ffe600);
}
.inner-box{
    width: 400px;
    margin:0 auto ;
    position: relative;
    top:20%;
    translate:translateY(-50%) ;
    padding: 20px 40px ;
    background-color:  #ffffffcc;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    box-shadow:2px 2px 5px #3498db ;
    z-index: 2;
 }
 .signup-header h1{
    font-size: 2.5rem;
    color: black ;
 }
 .signup-header p{
    font-size: 0.8rem;
    color:  #000000;
 }
 .signup-body{
    margin: 20px 0px;
 }
 .signup-body p{
    margin: 10px 0px;
   
 }
 .signup-body p label{
    display: block;
    font-weight: bold;
 }
 .signup-body p input{

    width: 100%;
    padding: 10px;
    border: 2px solid black(255, 51, 0, 0.51);
    border-radius: 4px;
    font-size: 1rem;
    margin: 4px;
 }
 /* or we can write like this .signup-body p input[type="submit"] */
 #submit{
    background-color: #3498db;
    border: none;
    color: azure;
    cursor: pointer;
 }
 .signup-body p input[type="submit"]:hover{
    background-color: #3498db;
 }
 .signup-footer p{
    color: rgba(0, 0, 0, 0.851);
    text-align: center;
 }
 .circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33, #ffffffff);
    position: absolute; 
}
.c1{
    top: 70px;
    left: 40px;
}
.c2{
    bottom: 100px;
    right: 50px;
}